.main.flex-box
  .main__left.area-data
    店舗エリア
    .nagoya
      名古屋
      .shops.flex-box
        = render @shop
    .gifu
      岐阜
    .mie
      三重
  .side
    ランキング
%footer
  .footer-container
  フッター
