.shop-add{
  text-align: center;
  background-color: #E7D3C4;
  width: 100%;
  h3{
    font-size: 30px;
  }
  &__name{
    height: 100px;
    position: relative;
    .name-field{
      width: 500px;
      height: 80px;
    }
  }
  &__img{
    height: 100px;
    position: relative;
    .form-image{
    }
  }
  &__address{
    height: 100px;
    position: relative;
    .address-field{
      width: 500px;
      height: 80px;
    }
  }
  &__tel{
    height: 100px;
    position: relative;
    .tel-field{
      width: 500px;
      height: 80px;
    }
  }
  &__btn{
    height: 150px;
    position: relative;
  }
  .form-btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: rgb(202, 94, 99);/*背景色*/
    color: rgb(202, 94, 99);/*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
    border-bottom: solid 2px #640228;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  }
  
  .form-btn:active {
    /*押したとき*/
    border-bottom: solid 2px #875C3F;
    box-shadow: none;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
  }
}