main{
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: wrap;
}
.main__left{
  width: calc(100% - 80px);
  background-color: #E7D3C4;
  border: solid 1px #CA9C7B;
  a{
    color: #000;
    text-decoration: none;
  }
}

.nagoya{
  height: 300px;
  background-color: #F6EEE9;
  border: solid 10px #F6EEE9;
  border-radius: 10px;
  }
  .gifu{
    height: 300px;
    background-color: #EFE0D6;
    border: solid 10px #EFE0D6;
    border-radius: 10px;
  }
  .mie{
    height: 300px;
    background-color: #E7D3C4;
    border: solid 10px #E7D3C4;
    border-radius: 10px;
  }

  .img-box{
    width: 120px;
  }

  .shop{
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: double 10px #875C3F;
    border-radius: 10px;
    &__upper-info{
      height: 120px;
    }
    &__lower-info{
      height: 40px;
    }
    &__rate__ave{
      height: 20px;
    }
    &__del {
      height: 20px;
    }
  }