.shop-data{
  background-color: #E7D3C4;
  overflow: scroll;
  padding-bottom: 40px; 
  min-height: 600px;
  ul{
    background-color: #F6EEE9;
    border: double 10px #875C3F;
    border-radius: 10px;
  }
  h3{
    font-size: 20px;
    font-weight: bold;
  }
  &__name{
    font-size: 30px;
    font-weight: bold;
  }
  &__review{
  }
  &__rate{
    font-size: 20px;
    font-weight: bold;
  }
  &__map{
    text-align: center;
  }
  &__add{
    text-align: center
  }
}
.review-box{
  background-color: #F6EEE9;
  border: double 3px #875C3F;
  border-radius: 10px;
  margin: 5px 0;
}