@import "rest";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
.wf-sawarabigothic {
   font-family: "Sawarabi Gothic";
}
@import "header";
@import "common";
@import "main-left";
@import "add-form";
@import "shop-data";

body{
  background-color: #F6EEE9;
}
.logo{
  color: #875C3F;
  border: double 10px #875C3F;
  border-radius: 10px;
}
.form-box{
  background-color: #E7D3C4;
  overflow: scroll;
  padding-bottom: 40px;
  padding-top: 40px;
  min-height: 600px;
  &__btn{
    text-align: center;
    .btn{
      position: relative;
      display: inline-block;
      padding: 0.25em 0.5em;
      text-decoration: none;
      background: rgb(202, 94, 99);/*背景色*/
      color: rgb(202, 94, 99);/*=背景色*/
      box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
      border-bottom: solid 2px #640228;
      border-radius: 4px;
      font-weight: bold;
      text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
    }
  }
  &__point{
    padding-left: 95px;
    padding-top: 20px;
    .point{
    }
  }
  &__review{
    .review{
      width: 500px;
      height: 80px;
    }
  }
}

.rank-box{
  &__top{

  }
  &__cell{
      text-align: center;
      background-color: #E7D3C4;
      border: double 3px #875C3F;
      border-radius: 10px;
  }
}

.side{
  width: 300px;
  background-color: #E7D3C4;
  border: solid 1px #CA9C7B;
  a{
    text-decoration: none;
    color: #000;
  }
}

footer{
  background: #E7D3C4;
  font-size: 0.9rem;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: 30px;
  position: fixed;
}
.footer-container{
  padding-top: 20px;
  padding-bottom: 20px;
}
.center{
  text-align: center;
}
.brown{
  background-color: #E7D3C4;
  overflow: scroll;
  padding-bottom: 40px;
  padding-top: 20px;
  min-height: 600px;
}



